.cat{
    color: darkgray;
    background-color: darkgray;
    border-radius: 20px;
}

.prevresult{
    width: 100px;
}

.operation{
    width: 50px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;

}
.m{
    width: 100px;
}
